@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kurale', serif;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 26, 138, 0.1)), to(rgba(17, 26, 138, 0.1))), url(../img/back.jpg) center center/cover;
  background: linear-gradient(rgba(17, 26, 138, 0.1), rgba(17, 26, 138, 0.1)), url(../img/back.jpg) center center/cover;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.menu ul li {
  margin: 0 10px;
  cursor: pointer;
}

.menu ul li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #fff;
  font-size: 16px;
}

.contact {
  text-align: right;
  font-size: 18px;
  color: #fff;
}

.content {
  text-align: center;
  padding-top: 270px;
  padding-bottom: 270px;
  text-decoration: none;
}

.content h1 {
  font-size: 48px;
  color: #fff;
}

.content p {
  color: #fff;
  font-size: 20px;
}

.content .btn {
  width: 240px;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px 0;
}

.content .btn a {
  font-size: 20px;
  line-height: 1.55;
  text-decoration: none;
  color: #000;
}

.heading__about {
  text-align: center;
}

.heading__about h1 {
  font-size: 52px;
  margin: 0;
  padding-top: 170px;
  padding-bottom: 70px;
}

.map iframe {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content__about {
  padding-top: 100px;
  max-width: 760px;
  margin: 0 auto;
  font-size: 20px;
}

.content__about span {
  font-weight: bold;
}

.content__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 160px;
  width: 100%;
}

.content__photo img {
  height: 380px;
  width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .1s;
  transition: .1s;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.content__photo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.promotion {
  padding-bottom: 135px;
  width: 100%;
}

.promotion .container__promotion {
  max-width: 960px;
  margin: 0 auto;
}

.promotion .container__promotion .heading__promotion {
  text-align: center;
}

.promotion .container__promotion .heading__promotion h1 {
  margin: 0;
  padding-top: 140px;
  font-size: 52px;
}

.promotion .container__promotion .heading__promotion p {
  font-size: 26px;
  margin-bottom: 60px;
}

.promotion .container__promotion .content__promotion1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.promotion .container__promotion .content__promotion1 .left__side {
  height: 230px;
}

.promotion .container__promotion .content__promotion1 .left__side img {
  width: 280px;
  height: 230px;
}

.promotion .container__promotion .content__promotion1 .left__side img :hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.promotion .container__promotion .content__promotion1 .right__side {
  width: 680px;
  border-top: 1px solid #a09595;
  border-right: 1px solid #a09595;
  border-bottom: 1px solid #a09595;
}

.promotion .container__promotion .content__promotion1 .right__side .content__rs {
  padding-left: 50px;
  margin-top: 40px;
}

.promotion .container__promotion .content__promotion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promotion .container__promotion .content__promotion2 .left__side {
  height: 230px;
}

.promotion .container__promotion .content__promotion2 .left__side img {
  width: 280px;
  height: 230px;
}

.promotion .container__promotion .content__promotion2 .right__side {
  width: 680px;
  border-top: 1px solid #a09595;
  border-right: 1px solid #a09595;
  border-bottom: 1px solid #a09595;
}

.promotion .container__promotion .content__promotion2 .right__side .content__rs {
  padding-left: 50px;
  margin-top: 40px;
}

.container__comment {
  width: 100%;
  background-color: #f0f0f0;
}

.container__comment .container__comment {
  max-width: 1200px;
  margin: 0 auto;
}

.container__comment .container__comment h1 {
  padding: 100px 0 0 0;
  text-align: center;
  font-size: 52px;
}

.container__comment .container__comment .block__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}

.container__comment .container__comment .block__comment .photo__comment {
  margin: 0 auto;
  position: relative;
  margin-top: 60px;
  max-width: 1200px;
}

.container__comment .container__comment .block__comment .photo__comment p {
  font-weight: 300;
  font-size: 18px;
  position: absolute;
  max-width: 400px;
  top: 30px;
  left: 50px;
  margin: 0;
}

.container__comment .container__comment .block__comment .photo__comment h3 {
  margin: 0;
  margin-left: 200px;
}

.container__comment .container__comment .block__comment .photo__comment h3 span {
  color: #666;
  font-size: 14px;
  line-height: 1.55;
}

.container__services {
  max-width: 780px;
  margin: 0 auto;
}

.container__services .block__services {
  margin-top: 100px;
}

.container__services .block__services .item__services h1 {
  font-size: 52px;
  text-align: center;
}

.container__services .block__services .item__services p {
  font-size: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.container__services .block__services .item__services hr {
  margin: 0;
  color: #a09595;
}

.container__services .block__services .item__services .type__services .externaltype__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  cursor: pointer;
}

.container__services .block__services .item__services .type__services .externaltype__services h1 {
  font-size: 24px;
  margin: 0;
}

.container__services .block__services .item__services .type__services .externaltype__services .circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: #151a52e8;
  background-image: url(../img/icons8-плюс-24white.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container__services .block__services .item__services .type__services .externaltype__services .circle:hover {
  background-color: #c7baba;
  background-image: url(../img/icons8-плюс-24white.png);
  background-position: center;
  background-repeat: no-repeat;
}

.container__services .block__services .item__services .type__services .externaltype__services .circle.trans {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #151a52e8;
  background-image: url(../img/icons8-плюс-24white.png);
  background-position: center;
  background-repeat: no-repeat;
}

.container__services .block__services .item__services .type__services .externaltype__services .circle.trans:hover {
  background-color: #c7baba;
  background-image: url(../img/icons8-плюс-24.png);
  background-position: center;
  background-repeat: no-repeat;
}

.container__services .block__services .item__services .type__services .externaltype__services .circle.mousehover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #c7baba;
  background-image: url(../img/icons8-плюс-24.png);
  background-position: center;
  background-repeat: no-repeat;
}

.container__services .block__services .item__services .type__services .innertype__services {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container__services .block__services .item__services .type__services .innertype__services img {
  width: 300px;
  height: 200px;
}

.container__services .block__services .item__services .type__services .innertype__services ul {
  padding: 0 0 0 20px;
}

.container__services .block__services .item__services .type__services .innertype__services ul li {
  padding: 5px 0;
}

.container__services .block__services .item__services .type__services .innertype__services.active {
  height: 500px;
}

.mousehover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #151a52e8;
  background-image: url(../img/icons8-плюс-24white.png);
  background-position: center;
  background-repeat: no-repeat;
}

.contacts {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contacts .line {
  max-width: 100px;
  width: 100%;
  height: 2px;
  background-color: #00008a;
  margin: 0 auto;
  margin-top: 45px;
}

.contacts .block__contacts p {
  font-size: 20px;
  line-height: 1.55;
}

footer {
  background-color: #000;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container__footer {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container__footer .social__media {
  width: 25%;
}

footer .container__footer .social__media img {
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
}

footer .container__footer .center__txt {
  width: 50%;
}

footer .container__footer .contacts__block {
  width: 25%;
}

#btn__top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #151a52e8;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  background-image: url(../img/icons8-вверх-24.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#btn__top:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */